[Desktop Entry]
Version=1.0
Type=Application
Name=MDviewer
GenericName=Markdown Viewer
Comment=A simple markdown file viewer
Exec=/usr/bin/python3 /home/jure/Projects/MDviewer/main.py %f
Icon=/home/jure/Projects/MDviewer/assets/icons/ICON_MDviewer.png
Terminal=false
Categories=Office;Viewer;TextTools;Utility;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=MDviewer
Keywords=markdown;md;viewer;document;
